//Polices
@font-face {
    font-family: "Philosopher";
    src: url('polices\philosopher\Philosopher-Regular.ttf');
}
@font-face {
    font-family: "Philosopher";
    font-style: italic;
    src: url('polices\philosopher\Philosopher-Italic.ttf');
}
@font-face {
    font-family: "Philosopher";
    font-weight: bold;
    src: url('polices\philosopher\Philosopher-Bold.ttf');
}

